<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">개발자 이동수의 포트폴리오.<br></div>
                <div class="intro-lead-in">Developer</div> 
                <div class="intro-lead-in">Dongsu's portfolio</div>
                <a href="#intro" class="page-scroll btn btn-xl">더보기</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/skill.html %}
    {% include 2017_data/project.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
